body {
  background: linear-gradient(#eee, #314354) fixed;
  font-family: "Nunito", sans-serif;
}

header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  height: 100px;
}

h1 {
  color: #314354;
  font: 55px "Fascinate", cursive;
}

main {
  width: 80vw;
  margin: 30px auto 100px;
}

form {
  padding: 40px 20px;

  border: 3px solid #212121;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

label {
  color: #212121;
  font-weight: 900;
  font-size: 26px;
  margin-bottom: 10px;
}

select {
  font-weight: 900;
  font-size: 22px;
  appearance: menulist-button;
  padding: 10px;
  background-color: #37383a;
  color: #ddd;
  border-radius: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

select:hover,
button:hover {
  color: #fbdb75;
}

select:focus,
button:focus {
  color: #82bcf3;
}

button {
  width: 100%;
  font: 36px "Fascinate", cursive;
  text-align: center;

  color: #ddd;
  background-color: #37383a;

  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

section.quizes:not(.hidden) {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

article {
  padding: 20px;
  border: 3px solid #212121;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

h3 {
  font-weight: 700;
  font-size: 25px;
}

article div {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.quizes p {
  width: 45%;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ddd;
  background-color: #37383a;
  border-radius: 10px;

  font-weight: 700;
  font-size: 20px;
}

div:not(.played) p:hover {
  color: #fbdb75;
  cursor: pointer;
}

.played p:not(.clicked) {
  transform: scale(0.7);
}

.played p:not(.correct) {
  background-color: #f26674;
}

.played .correct {
  color: #37383a;
  background-color: #b3de8a;
}

.results div {
  padding: 20px;
  border: 3px solid #212121;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-weight: 500;
  font-size: 36px;
  color: #37383A;
}

h4 {
  color: #F26674;
  font-weight: 900;
  font-size: 75px;
}

.hidden {
  display: none;
}
